.site-footer {
    background: lighten( $color__primary, 3% );
    color: $color__primary-text;
    font-size: $font__size-sm;
    padding: $spacing__unit 0;
    text-align: center;
    width: 100%;

    .copy {
        font-size: $font__size-md;
    }

    > * {
        margin-left: auto;
        margin-right: auto;
        @include contentWidth();
    }
}