@mixin contentWidth() {
    max-width: calc( 100% - ( 2 * #{$spacing__unit} ) );
    width: 100%;

    @include media(tablet) {
        width: 75%;
    }
}

@mixin contentWideWidth() {
    max-width: calc( 100% - ( 2 * #{$spacing__unit} ) );
    width: 100%;

    @include media(tablet) {
        width: 85%;
    }
}
 
@mixin clearfix() {
    zoom: 1;

    &:before,
    &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }
}

@import 'utilities';