$color__text-main: #000;
$color__heading: #000;

$color__primary: #161616;
$color__primary-text: #fff;
$color__secondary: #f2a900;
$color__secondary-text: #fff;

$color__label: darken(#7e7e7e, 18%);

$color__transparent-background: rgba(0, 0, 0, 0.6);